
@model ASFront.Models.Balance



@Html.Partial("Balance/_five _one", Model)




<div class="form-group">
    @Html.LabelFor(model => model.OtherNonCurrentLiabilitiues, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.OtherNonCurrentLiabilitiues, new { htmlAttributes = new { @class = "form-control", @type = "number", @min = "0", @step = "0.01", @value = "0" } })
        @Html.ValidationMessageFor(model => model.OtherNonCurrentLiabilitiues, "", new { @class = "text-danger" })
    </div>

</div>



