@model ASFront.ModelsView.AppSumContractViewModel

<div>
    @*<h3 class="BoldText">Պայմանագիր</h3>*@

   
    <table class="table table-striped table-advance table-hover">
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.ContractNumber)
            </td>

            <td>
                @Html.DisplayFor(model => model.ContractNumber)
            </td>
        </tr>
    </table>
</div>

