<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an attribute "name" that has a value of "MyDB".
      -->
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=192.168.0.54;Initial Catalog=asfront;User ID=acramon;Password=2{sD6@.[SsF0[#jq" providerName="System.Data.SqlClient" />
    <add name="acramonEntities" connectionString="metadata=res://*/;provider=System.Data.SqlClient;provider connection string=&quot;     &#xD;&#xA;      data source=192.168.0.54;initial catalog=luisOLB;user id=acramon;password=2{sD6@.[SsF0[#jq;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>



  <customErrors mode="On"  redirectMode="ResponseRewrite" defaultRedirect="Error.cshtml"  xdt:Transform="Insert">
      
  <error statusCode="400" redirect="Error.cshtml" />
      <error statusCode="403" redirect="Error.cshtml" />
      <error statusCode="404" redirect="Error.cshtml" />
  
    </customErrors>


  <system.webServer>

    <httpErrors errorMode="Custom" existingResponse="Replace" xdt:Transform="Insert">
      <remove statusCode="401" subStatusCode="-1" />
      <remove statusCode="401" subStatusCode="-1" />
      <remove statusCode="403" subStatusCode="-1" />
      <remove statusCode="404" subStatusCode="-1" />
      <remove statusCode="500" subStatusCode="-1" />
      <error statusCode="400" path="/Error/ErrorPage" responseMode="Redirect" />
      <error statusCode="401" path="/Error/ErrorPage" responseMode="Redirect" />
      <error statusCode="404" path="/Error/ErrorPage" responseMode="Redirect" />
      <error statusCode="403" path="/Error/ErrorPage" responseMode="Redirect" />
      <error statusCode="500" path="/Error/ErrorPage" responseMode="Redirect" />
    </httpErrors>

  </system.webServer>
  
</configuration>
