@{
    ViewBag.Title = "Մոռացված գաղտնաբառի հաստատում";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Խնդրում եմ ստուգել էլ.փոստն ու մուտքագրել նոր գաղտնաբառը:
    </p>
</div>
	
