@{
    ViewBag.Title = "Գաղտնաբառի փոփոխման հաստատում";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Ձեր գաղտնաբառը փոփոխված է, @Html.ActionLink("սեղմեք հղմանը:", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
