
@{
    Layout = null;
}


<!DOCTYPE html>

<head>

  
</head>
<body style="border:0; margin: 0;  " >
  
    <div style="right:20px; text-align:right;">
        <img src='@Url.Content("~/img/logo.png")' style="width:30px;
		        height:30px; margin-left:10px;" /><br />
        <div>SEF International</div>
    </div>
</body>




