
@{
    Layout = null;
}


<!DOCTYPE html>

<head>


</head>
<body style="border:0; margin: 0;  ">

    <div style="right:20px; text-align:right; padding-bottom:15px;">
        @ViewBag.RigthCornerText
    </div>
</body>






